html,
body {
	margin: 0;
	padding: 0;
}

*:not(input):not(textarea){
	user-select: none;
	cursor: default;
}

body{
	padding: 4em;
}

textarea{
	resize: none;
	height: 200px !important;
}

.tiper-js-container {
	width: 100%;
	height: 100%;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.5em;
	color: rgb(28, 250, 120);
	padding: 2em;
	box-sizing: border-box;
	background-color: #2d313c;
	border-radius: 1em;
	transition: height .25s ease-in-out;
	max-height: calc(100% - 100px);
}

.empty-state-container{
	position: absolute;
	padding: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	display: none;
}

.status-container{
	padding: 2em;
	border-radius: 1em;
}

.footer{
	margin-top: 3em;
}

.btn, .btn *{
	cursor: pointer !important;
}

.dropdown-item{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.tiper-js-container{
	white-space: pre-wrap;
}

.tiper-js-caret.blinking {
	animation: blinking 1s infinite steps(2, start);
}

@keyframes blinking {
	to {
		visibility: hidden;
	}
}
